@font-face{ font-family: "Pfennig";
            src: url("file:///android_asset/fonts/Pfennig.otf");
          }

@font-face{ font-family: "PfennigT";
            src: url("file:///android_asset/fonts/Pfennig.ttf");
          }


.pfennig{font-family: "Pfennig";
      font-size: 50px;}

.pfennigt{font-family: "PfennigT";
      font-size: 50px;}

.fuffi{font-size: 50px;}
